<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/reset.css">
  <link rel="stylesheet" href="./assets/style/all2.css">
  <link rel="stylesheet" href="./assets/style/blog.css">
</head>

<body>
  <header class="top0-header">
    <div class="title">
      <div class="logo">
        <a href="index.html">
          <img src="assets/images/logo.png" alt="logo">
        </a>
      </div>
      <nav class="menu"><ul><li><a href="optical.html">系列鏡框</a></li><li><a href="location.html">門市據點</a></li><li><a href="#">部落格</a></li><li><a href="faq.html">常見問題</a></li></ul></nav>
    </div>
    <section class="search">
        <ul>
          <li><a href="#">最新消息</a></li>
          <li><a href="#">特別企劃</a></li>
          <li><a href="#">新品上市</a></li>
          <li><a href="#">鏡框小知識</a></li>
          <li><a href="#"><img src="assets/images/icon-search.svg" alt="search icon"></a></li>
        </ul>
      </section>
  </header>
  <main class="main">
    <%- contents %>
  </main>
  <footer class="footer">
    <div class="footer-top">
      <nav>
        <ul>
          <li><a href="index.html">首頁</a></li>
          <li><a href="optical.html">系列鏡框</a></li>
          <li><a href="location.html">門市據點</a></li>
          <li><a href="#">部落格</a></li>
          <li><a href="faq.html">常見問題</a></li>
        </ul>
      </nav>
      <ul>
        <li><a href="#"><img src="assets/images/icon-fb.svg" alt="facebook"></a></li>
        <li><a href="#"><img src="assets/images/icon-ig.svg" alt="Instagram"></a></li>
        <li><a href="#"><img src="assets/images/icon-line.svg" alt="line"></a></li>
      </ul>
    </div>
    <div class="footer-middle">
      <ul>
        <li>
          <img src="assets/images/icon-phone.svg" alt="phone">
          <p><a href="#">0800-000-000</a></p>
        </li>
        <li>
          <img src="assets/images/icon-mail.svg" alt="mail">
          <p><a href="#">glasses@business.com</a></p>
        </li>
      </ul>
    </div>
    <hr class="custom-hr">
    <div class="footer-bottom">
      <ul>
        <li>Copyright © 2020 Glasses.All rights reserved.</li>
        <li><a href="#"><small>隱私權政策</small></a></li>
        <li><a href="#"><small>服務條款</small></a></li>
      </ul>
    </div>
  </footer>
</body>

</html>