@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
html, html::before, html::after, body, body::before, body::after {
  font-size: 10px;
  line-height: 1.5;
  font-family: 'Roboto', 'Noto Sans TC', sans-serif;
  font-weight: 400; }

.main > * > *, .footer > *, .footer > * > * {
  width: 1110px;
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 1024px) {
  .main > * > *, .footer > *, .footer > * > * {
    width: 690px; } }

@media (max-width: 425px) {
  .top0-header, .main, .footer {
    padding-left: 15px;
    padding-right: 15px; }
  .top0-header, .main > *, .footer > * {
    width: 375px; }
  .main > * > *, .footer > * > * {
    width: 345px; } }

@media (max-width: 374px) {
  .top0-header, .main > *, .footer > * {
    width: 345px; } }

img {
  max-width: 100%;
  height: auto;
  display: block; }

a {
  color: #fff;
  text-decoration: none;
  display: block; }

a:hover {
  text-decoration: underline; }

h2 {
  font-size: 4.8rem;
  text-align: center;
  margin-bottom: 40px;
  color: #650300;
  font-weight: 700; }

@media (max-width: 1024px) {
  h2 {
    font-size: 3.2rem;
    margin-bottom: 32px; } }

@media (max-width: 425px) {
  h2 {
    font-size: 2.4rem;
    margin-bottom: 20px; } }

.top0-header .title {
  color: #fff;
  background-color: #AA0601;
  padding-left: 88px;
  padding-right: 88px;
  height: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 1024px) {
  .top0-header .title {
    padding-left: 39px;
    padding-right: 39px; } }

@media (max-width: 425px) {
  .top0-header .title {
    padding-left: 0;
    padding-right: 0;
    display: block;
    height: 100%; }
  .top0-header .title * {
    display: block; } }

.top0-header .title li {
  display: inline-block;
  font-size: 2rem; }

.top0-header .title li:not(:first-of-type) {
  margin-left: 64px; }

@media (max-width: 1024px) {
  .top0-header .title li:not(:first-of-type) {
    margin-left: 40px; } }

@media (max-width: 425px) {
  .top0-header .title .logo {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff; }
  .top0-header .title .logo img {
    width: 48px;
    height: 29px;
    margin-left: auto;
    margin-right: auto; }
  .top0-header .title li:not(:first-of-type) {
    margin-left: 0; }
  .top0-header .title li {
    display: inline-block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 50%;
    border: 1px solid #fff;
    border-top: none;
    text-align: center; }
  .top0-header .title li a {
    line-height: 2.9rem;
    padding-top: 8px;
    padding-bottom: 8px; }
  .top0-header .title li:nth-child(odd) {
    border-left: none;
    border-right: none; }
  .top0-header .title li:nth-child(even) {
    border-right: none; }
  .top0-header .title li:nth-child(3), .top0-header .title li:nth-child(4) {
    border-bottom: none; } }

.top0-header .banner {
  margin: 0 auto;
  padding-right: 405px;
  background: url("../images/banner.png") no-repeat center center;
  background-size: cover;
  height: 640px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #650300; }

.top0-header .banner h1 {
  text-align: right;
  font-size: 3.6rem; }

.top0-header .banner h1 span {
  font-size: 6.4rem;
  line-height: 9.6rem;
  font-weight: 700; }

@media (max-width: 1024px) {
  .top0-header .banner {
    padding-right: 38.5px; }
  .top0-header .banner h1 {
    font-size: 2rem; }
  .top0-header .banner h1 span {
    font-size: 4.8rem;
    line-height: 7.2rem; } }

@media (max-width: 425px) {
  .top0-header .banner {
    background: url("../images/banner-sm.png") no-repeat center center;
    background-size: cover;
    height: 394px;
    padding-right: 15px; }
  .top0-header .banner h1 {
    font-size: 1.6rem;
    line-height: 2.2rem; }
  .top0-header .banner h1 span {
    font-size: 3.2rem;
    line-height: 4.5rem; } }

.main .advantage {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #AA06010D; }

@media (max-width: 1024px) {
  .main .advantage {
    padding-top: 40px;
    padding-bottom: 56px; } }

@media (max-width: 425px) {
  .main .advantage {
    padding-top: 32px; } }

.main .advantage ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (max-width: 1024px) {
  .main .advantage ul {
    width: 615px; } }

@media (max-width: 425px) {
  .main .advantage ul {
    width: 255px; } }

.main .advantage li {
  width: 255px;
  display: block; }

@media (max-width: 1024px) {
  .main .advantage h2 {
    margin-bottom: 0; }
  .main .advantage li {
    margin-top: 32px; } }

.main .advantage .icon {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 16px; }

.main .advantage li .focus-text {
  font-size: 2.4rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 8px;
  color: #650300; }

.main .advantage li .extra-text {
  font-size: 1.6rem; }

.main .classic {
  padding-top: 60px;
  padding-bottom: 80px;
  font-weight: 900; }

@media (max-width: 425px) {
  .main .classic {
    padding-top: 32px;
    padding-bottom: 40px; } }

.main .classic .product-name {
  width: 475px;
  margin: auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: italic; }

.main .classic li:nth-child(even) .product-name {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.main .classic .product-name > a {
  display: inline-block; }

.main .classic .product-name span a {
  display: inline;
  color: #AA0601; }

@media (max-width: 1024px) {
  .main .classic .product-name {
    width: 378px; }
  .main .classic li:nth-child(even) .product-name {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; } }

@media (max-width: 425px) {
  .main .classic .product-name {
    width: 345px;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 35.07%; } }

.main .classic li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 4.8rem;
  color: #AA0601; }

@media (max-width: 1024px) {
  .main .classic li {
    font-size: 2.8rem;
    line-height: 7.2rem; } }

@media (max-width: 425px) {
  .main .classic li {
    display: block;
    position: relative; } }

.main .classic li > img {
  width: 635px;
  height: 320px; }

@media (max-width: 1024px) {
  .main .classic li > img {
    width: 390px;
    height: 168px; } }

@media (max-width: 425px) {
  .main .classic li > img {
    width: 345px;
    height: 134px; } }

.main .classic li:not(:last-of-type) {
  margin-bottom: 32px; }

@media (max-width: 425px) {
  .main .classic li:not(:last-of-type) {
    margin-bottom: 8px; } }

.main .classic li .product-name-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 32px;
  margin-right: 8px; }

.main .classic li:nth-child(even) .product-name-icon {
  margin-left: 0; }

@media (max-width: 1024px) {
  .main .classic li .product-name-icon {
    width: 40px;
    height: 40px; } }

@media (max-width: 425px) {
  .main .classic li .product-name-icon {
    margin-left: 0; } }

.main .classic li .product-name:nth-child(odd) {
  text-align: right;
  padding-right: 30px; }

@media (max-width: 1024px) {
  .main .classic li:nth-child(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .main .classic li:nth-child(even) .product-name {
    padding-right: 0; }
  .main .classic li:nth-child(even) .product-name img {
    margin-left: 32px; } }

@media (max-width: 425px) {
  .main .classic li:nth-child(even) {
    display: block !important; }
  .main .classic li:nth-child(even) .product-name img {
    margin-left: 0; } }

.main .jointly {
  padding-top: 60px;
  padding-bottom: 80px;
  background: url("../images/bg.png") no-repeat center center;
  background-size: cover;
  font-weight: 700; }

@media (max-width: 1024px) {
  .main .jointly {
    padding-top: 40px;
    padding-bottom: 56px; } }

.main .jointly h2 {
  color: #fff; }

.main .jointly ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (max-width: 1024px) {
  .main .jointly ul {
    width: 690px; } }

@media (max-width: 425px) {
  .main .jointly ul {
    display: block;
    width: 345px; } }

.main .jointly img {
  width: 540px;
  opacity: 0.5; }

@media (max-width: 1024px) {
  .main .jointly img {
    width: 330px; } }

@media (max-width: 425px) {
  .main .jointly img {
    width: 345px;
    height: 291px; } }

.main .jointly li {
  background-color: #fff;
  position: relative; }

@media (max-width: 425px) {
  .main .jointly li:not(:last-of-type) {
    margin-bottom: 16px; } }

.main .jointly li p {
  font-size: 7.2rem;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 42.37%;
  display: block; }

@media (max-width: 1024px) {
  .main .jointly li p {
    font-size: 3.2rem; } }

@media (max-width: 425px) {
  .main .jointly li p {
    width: 345px;
    top: 44.5%; } }

.main .jointly li a {
  color: #AA0601; }

.main .recommend {
  padding-top: 60px;
  padding-bottom: 80px; }

@media (max-width: 1024px) {
  .main .recommend {
    padding-top: 40px;
    padding-bottom: 56px; } }

.main .recommend h2 {
  color: #AA0601; }

.main .recommend ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (max-width: 1024px) {
  .main .recommend ul {
    width: 690px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; } }

@media (max-width: 425px) {
  .main .recommend ul {
    display: block;
    width: 345px; } }

.main .recommend li {
  width: 255px;
  height: 460px;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  position: relative; }

@media (max-width: 1024px) {
  .main .recommend h2 {
    margin-bottom: 0; }
  .main .recommend li {
    margin-top: 32px; } }

@media (max-width: 1024px) {
  .main .recommend li {
    width: 330px; } }

.main .recommend li p {
  margin-left: 16px;
  margin-right: 16px;
  font-size: 1.4rem; }

@media (max-width: 1024px) {
  .main .recommend li p {
    margin-left: 24px;
    margin-right: 24px; } }

.main .recommend li .say-name {
  margin-top: 16px;
  margin-bottom: 8px;
  font-weight: 500; }

.main .recommend li .say-text {
  font-size: 1.6rem; }

.main .recommend li .say-date {
  position: absolute;
  width: 223px;
  text-align: left;
  color: #707070;
  bottom: 16px; }

.main .contact {
  padding-top: 60px;
  padding-bottom: 80px;
  background-color: #AA06010D; }

@media (max-width: 1024px) {
  .main .contact {
    padding-top: 40px;
    padding-bottom: 56px; } }

@media (max-width: 425px) {
  .main .contact {
    padding-top: 30px;
    padding-bottom: 40px; } }

.main .contact h2 {
  color: #000; }

.main .contact form {
  margin: 0 auto;
  width: 730px; }

@media (max-width: 1024px) {
  .main .contact form {
    width: 450px; } }

@media (max-width: 425px) {
  .main .contact form {
    width: 345px; } }

.main .contact p {
  font-size: 2rem;
  margin-bottom: 20px; }

@media (max-width: 1024px) {
  .main .contact p {
    font-size: 1.6rem;
    margin-bottom: 16px; } }

@media (max-width: 425px) {
  .main .contact p {
    margin-bottom: 8px; } }

.main .contact input[type="text"] {
  margin-bottom: 16px;
  height: 50px; }

.main .contact label[for] {
  margin-bottom: 4px; }

@media (max-width: 1024px) {
  .main .contact label[for] {
    margin-bottom: 3px; } }

.main .contact label, .main .contact input, .main .contact textarea {
  font-size: 1.6rem; }

@media (max-width: 1024px) {
  .main .contact label, .main .contact input, .main .contact textarea {
    font-size: 1.4rem; } }

.main .contact input, .main .contact textarea {
  padding: 12px 16px 14px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@media (max-width: 1024px) {
  .main .contact input, .main .contact textarea {
    padding: 8px 12px 8px 12px; } }

.main .contact textarea {
  margin-bottom: 16px; }

.main .contact label, .main .contact button {
  display: block; }

.main .contact button {
  width: 350px;
  height: 54px;
  margin: 0 auto;
  margin-top: 40px;
  font-size: 1.6rem;
  color: #fff;
  background-color: #AA0601;
  border: none;
  border-radius: 0;
  font-weight: 700; }

@media (max-width: 1024px) {
  .main .contact button {
    width: 210px;
    height: 40px;
    margin-top: 20px;
    font-size: 1.4rem; } }

@media (max-width: 425px) {
  .main .contact button {
    width: 165px;
    height: 36px; } }

.main .contact button:hover {
  background-color: #650300; }

.main .contact label span {
  margin-left: 4px; }

.main .contact label[for], .main .contact input[type="text"], .main .contact textarea {
  display: block;
  width: 100%; }

.footer {
  background-color: #AA0601;
  color: #fff;
  padding-top: 32px;
  padding-bottom: 39px;
  font-size: 1.6rem; }

@media (max-width: 1024px) {
  .footer > * {
    width: 690px; } }

@media (max-width: 425px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 1.4rem; }
  .footer > * {
    width: 345px; }
  .footer .footer-top nav {
    display: none; }
  .footer .footer-middle {
    position: absolute;
    top: 24px; } }

@media (max-width: 425px) {
  .footer > * {
    width: 100%; } }

.footer .footer-top, .footer .footer-top ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer .footer-top nav {
  width: 464px;
  margin-left: 0; }

.footer .footer-top > ul {
  width: 208px;
  margin-right: 0; }

@media (max-width: 1024px) {
  .footer .footer-top nav {
    width: 432px; }
  .footer .footer-top > ul {
    width: 120px; }
  .footer .footer-top > ul img {
    width: 24px;
    height: 24px; } }

.footer .footer-middle {
  margin-top: 24px; }

@media (max-width: 425px) {
  .footer .footer-middle {
    margin-top: 0; }
  .footer .footer-middle ul {
    margin-left: 0; } }

.footer .footer-middle li:not(:last-of-type) {
  margin-bottom: 16px; }

@media (max-width: 1024px) {
  .footer .footer-middle li:not(:last-of-type) {
    margin-bottom: 12px; } }

.footer .footer-middle li * {
  display: inline-block;
  vertical-align: middle; }

.footer .footer-middle li p {
  font-size: 3.6rem;
  margin-left: 16px; }

@media (max-width: 1024px) {
  .footer .footer-middle li p {
    font-size: 2rem;
    margin-left: 8px; }
  .footer .footer-middle li img {
    width: 18px;
    height: 18px; } }

@media (max-width: 425px) {
  .footer .footer-middle li p {
    font-size: 1.6rem;
    margin-left: 6px; } }

.footer .custom-hr {
  border: none;
  border-top: 1px solid #fff;
  margin-top: 24px;
  margin-bottom: 32px; }

@media (max-width: 1024px) {
  .footer .custom-hr {
    margin-top: 20px;
    margin-bottom: 24px; } }

@media (max-width: 425px) {
  .footer .custom-hr {
    margin-top: 49px;
    margin-bottom: 16px; } }

.footer .footer-bottom ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 425px) {
  .footer .footer-bottom ul {
    display: block; } }

.footer .footer-bottom ul li small {
  font-size: 1.4rem; }

.footer .footer-bottom ul li {
  display: block; }

@media (max-width: 425px) {
  .footer .footer-bottom ul li:not(:last-of-type) {
    margin-bottom: 8px; } }

.footer .footer-bottom ul li:first-of-type {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.footer .footer-bottom ul li:last-of-type {
  margin-left: 48px; }

@media (max-width: 1024px) {
  .footer .footer-bottom ul li:last-of-type {
    margin-left: 24px; } }

@media (max-width: 425px) {
  .footer .footer-bottom ul li:last-of-type {
    margin-left: 0; } }

/*
$color: #00cc99;

.header {
  height: 200px;
  background-color: #00cc99;
}

.footer {
  height: 200px;
  background-color: #00cc99;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  transition: all 0.5s;
  &:hover {
    width: 200px;
    background-color: $color;
  }
}
*/

/*# sourceMappingURL=all.css.map */
