.search {
  background-color: #650300;
  font-weight: 700; }

@media (max-width: 375px) {
  .search ul li:last-of-type {
    display: none; } }

.search ul {
  width: 1110px;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 768px) {
  .search ul {
    width: 690px; } }

@media (max-width: 375px) {
  .search ul {
    width: 345px; } }

.search ul li:not(:first-of-type):not(:last-of-type) {
  margin-left: 48px; }

@media (max-width: 768px) {
  .search ul li:not(:first-of-type):not(:last-of-type) {
    margin-left: 32px; } }

@media (max-width: 375px) {
  .search ul li:not(:first-of-type):not(:last-of-type) {
    margin-left: 24px; } }

.search ul li:last-of-type {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.search ul li:last-of-type a {
  width: 40px;
  height: 40px;
  margin-top: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.search ul li:last-of-type a img {
  width: 29px;
  height: 29px; }

.search a {
  font-size: 2rem; }

@media (max-width: 768px) {
  .search a {
    font-size: 1.6rem; } }

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 1.6rem; }

@media (max-width: 768px) {
  .breadcrumb {
    font-size: 1.4rem; } }

.breadcrumb a {
  color: #000; }

.breadcrumb li:not(:last-of-type) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.breadcrumb li:not(:last-of-type)::after {
  content: '\00A0/\00A0';
  display: inline-block;
  color: #000; }

.breadcrumb li:last-of-type a {
  color: #aa0601; }

.tag {
  font-size: 2.4rem;
  color: #aa0601;
  font-weight: 700; }

@media (max-width: 768px) {
  .tag {
    font-size: 1.6rem; } }

@media (max-width: 375px) {
  .tag {
    font-size: 1.4rem; } }

.blog-content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.blog-content .main-space {
  width: 825px;
  margin-bottom: 160px; }

@media (max-width: 768px) {
  .blog-content .main-space {
    width: 510px;
    margin-bottom: 96px; } }

@media (max-width: 375px) {
  .blog-content .main-space {
    width: 345px;
    margin-bottom: 30px; } }

.blog-content .side-space {
  width: 245px; }

@media (max-width: 768px) {
  .blog-content .side-space {
    width: 150px; } }

@media (max-width: 375px) {
  .blog-content .side-space {
    width: 345px;
    margin-bottom: 56px; } }

.main-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.main-tag li:not(:first-of-type) {
  margin-left: 16px; }

.main-space h1 {
  font-size: 4.8rem;
  line-height: 95px;
  margin-bottom: 8px; }

@media (max-width: 768px) {
  .main-space h1 {
    font-size: 3.2rem;
    line-height: 1.5;
    margin-bottom: 4px; } }

@media (max-width: 375px) {
  .main-space h1 {
    font-size: 2rem;
    margin-bottom: 0; } }

.sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  font-weight: 500; }

@media (max-width: 375px) {
  .sub-title {
    margin-bottom: 20px; } }

.sub-title h2 {
  font-size: 2.8rem; }

.sub-title p {
  font-size: 1.6rem;
  color: #6c6c6c; }

@media (max-width: 768px) {
  .sub-title h2 {
    font-size: 1.6rem; }
  .sub-title p {
    font-size: 1.4rem; } }

@media (max-width: 375px) {
  .sub-title h2 {
    font-size: 1.4rem; } }

.main-space article ul li:nth-child(odd) {
  margin-bottom: 24px; }

@media (max-width: 768px) {
  .main-space article ul li:nth-child(odd) {
    margin-bottom: 16px; } }

.main-space article ul li:nth-child(even) {
  font-size: 2rem;
  opacity: 0.6; }

@media (max-width: 768px) {
  .main-space article ul li:nth-child(even) {
    font-size: 1.6rem; } }

.main-space article ul li:nth-child(even):not(:last-of-type) {
  margin-bottom: 40px; }

@media (max-width: 768px) {
  .main-space article ul li:nth-child(even):not(:last-of-type) {
    margin-bottom: 24px; } }

@media (max-width: 768px) {
  .main-space article ul li img {
    width: 510px;
    height: 292px; }
  .main-space article ul li:first-of-type img {
    height: 333px; } }

@media (max-width: 375px) {
  .main-space article ul li img {
    width: 345px;
    height: 225px !important; } }

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  font-weight: 700; }

@media (max-width: 768px) {
  .share {
    margin-top: 28px; } }

@media (max-width: 375px) {
  .share {
    margin-top: 20px; } }

.share p {
  margin-right: 20px;
  font-size: 2rem; }

@media (max-width: 768px) {
  .share p {
    margin-right: 16px;
    font-size: 1.6rem; }
  .share img {
    width: 20px;
    height: 20px; } }

.share a:not(:first-of-type) {
  margin-left: 16px; }

.main-space .custom-hr {
  margin-top: 20px;
  margin-bottom: 24px;
  border: none;
  border-top: 1px solid #000; }

@media (max-width: 768px) {
  .main-space .custom-hr {
    margin-top: 20px;
    margin-bottom: 16px; } }

@media (max-width: 375px) {
  .main-space .custom-hr {
    margin-top: 16px;
    margin-bottom: 10px; } }

.prev-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

@media (max-width: 375px) {
  .prev-next {
    display: block; } }

.prev-next a {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

@media (max-width: 375px) {
  .prev-next a:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; } }

.prev-next a:first-of-type img {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg); }

.prev-next a p {
  font-size: 1.9rem;
  margin-left: 8px;
  margin-right: 8px; }

@media (max-width: 768px) {
  .prev-next a p {
    font-size: 1.6rem; } }

@media (max-width: 375px) {
  .prev-next a p {
    font-size: 1.4rem;
    margin-left: 4px;
    margin-right: 4px; } }

.side-space {
  font-weight: 700; }

.side-space a {
  color: #aa0601;
  font-size: 2.4rem;
  margin-bottom: 8px;
  float: left; }

@media (max-width: 768px) {
  .side-space a {
    font-size: 1.6rem;
    margin-bottom: 0; } }

.side-space a:nth-child(even) {
  margin-right: 24px;
  clear: left; }

@media (max-width: 768px) {
  .side-space a:nth-child(even) {
    margin-right: 16px; } }

@media (max-width: 375px) {
  .side-space a {
    margin-right: 8px !important;
    clear: none !important; } }

.side-space h2 {
  font-size: 2.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #aa0601;
  margin-bottom: 4px; }

.side-space h2 img {
  width: 48px;
  height: 48px;
  margin-right: 8px; }

@media (max-width: 768px) {
  .side-space h2 {
    font-size: 2rem;
    margin-bottom: 8px; }
  .side-space h2 img {
    width: 24px;
    height: 24px;
    margin-right: 0; } }

/*# sourceMappingURL=blog-content.css.map */
